html, body {
    min-height: 100%;
    height: 100%;
}

.fill {
    height: calc(100vh - 100px);
}

body {
    padding-top: 60px; /* space for the top nav bar */
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#appBuckets {
    display: flex;
    flex-wrap: wrap;
    width: 90% !important;
    height: 20%;
    overflow-x: auto;
    margin-top: 2rem;
}

#linesFromDb {
    width: 100%;
    height: 20rem;
    padding: 5px;
    overflow: auto;
}

.viewerContainer {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#forgeViewer {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#userHubs {
    overflow: auto;
    width: 90% !important;
    height: 40%;
}


.loginBtn {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90vh !important;
    padding-top: 1rem;
    flex-grow: 4; 
}

#one {
    min-width: 0;
    border-right: 1px solid gray;
    height: 100%;
}

#two {
    width: 90%;
    height: 100%;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

#three {
    min-width: 0;
    height: 100%;
    border-left: 1px solid gray;
}

.leftWrapper {
    display: flex;
    padding: 1rem;
    padding-top: 2rem;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
}

.rightWrapper {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
}

#rpanrResize {
    flex-grow: 0;
    flex-shrink: 0;
    background: #1b1b51;
    width: 0.2rem;
    cursor: col-resize;
    margin: 0 0 0 auto;
}


.label:hover {
    font-size: 14px;
    z-index: 2;
    width: 36px;
    opacity: 0.8;
    background-color: grey;
    border: 3px solid white
}

.label:focus {
    font-size: 16px;
    z-index: 2;
    width: 36px;
    opacity: 1;
    background-color: brown;
    border: 4px solid white;
    outline: none;
}

.label {
    width: 150px;
    font-size: 12px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 10px;
    background: black;
    color: white;
    padding: 0 8px 0 8px;
    opacity: 0.6;
}

.searchInput {
    margin-bottom: 5px;
}

.addSearchInput {
    margin-bottom: 5px;
}

.addSearchInput:hover {
    cursor: pointer;
}

.removeSearchInput:hover {
    cursor: pointer;
}

.zg_line {
    padding: .3rem;
    cursor: pointer;
}

.zg_line:hover {
    cursor: pointer;
    background-color: honeydew;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
}

.toast {
    opacity: 1 !important;
}

.modelCategories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.categorySelect {
    width: 100%;
}

/** Dashboard css **/

#summary-chart-btn {
    background-image: url(https://img.icons8.com/dusk/64/000000/doughnut-chart.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}
